:root {
	--red-100: hsl(0, 100, 75);
	--red-200: hsl(0, 100, 65);
	--red-300: hsl(0, 100, 50);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

h1 {
	color: rgb(24 51 83);
	font-weight: 100;
}

h2 {
	font-weight: 100;
	background-color: hsl(213, 55%, 25%);
	color: white;
	margin-top: 0;
	padding: 0.5rem 0;
	text-align: center;
}

label {
	color: rgb(91 118 123);
}

.dateCalc {
	background-color: hsl(0, 0%, 95%);
	border: solid 5px hsl(25, 70%, 60%);
	border-radius: 10px;
	overflow: hidden;
}

.widget__input-container {
	display: flex;
	flex-direction: column;
}

.dateCalc__inputs-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 15%;
}

.widget__input {
	width: 10rem;
	border: solid black 1px;
	filter: drop-shadow(0px 3px 2px rgb(129, 129, 129));
	height: 1.5rem;
}

p {
	width: 100px;
	height: 50px;
	background-color: blueviolet;
	text-align: center;
	color: white;
}

input[type="textarea"] {
	width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
